$white: #fff;
$black: #000;
$cerise: #d13ca3;
$pink-lace: #ffdcf4;
$scorpion: #5e5e5e;
$nobel: #b5b5b5;
$alabaster: #fafafa;
$gallery: #eaeaea;
$concrete: #f2f2f2;
$dallas: #664922;
$silver: #c4c4c4;
$periwinkle: #c4ccfe;
$remy: #feedf9;