<div class="constructor-mobile">
  <img src="{{ image( 'arbole/warning.png' ) }}">
  <p><strong>You can use our constructor only on desktop or tablet.</strong></p>
  <p>Now you may go to our gallery store and choose jewelery.</p>
  <a href="{{ u( 'product/category' ) }}" class="btn">go to gallery</a>
</div>
<div class="rotate-device"> 
  <div class="empty">
    <img src="{{ image( 'arbole/designs-empty.png' ) }}">
    <p><strong>ROTATE YOUR DEVICE</strong></p>
    <p>Start creating after rotating device.</p>
    <img src="{{ image( 'arbole/icon-rotate.png') }}">
   </div>
</div>